@using Microsoft.AspNetCore.Components.Authorization
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            @* AuthorizeRouteView sorgt dafür, dass [Authorize] Attribute auf Seiten beachtet werden *@
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)">
                <NotAuthorized>
                    <h1>Zugriff verweigert</h1>
                    <p>Du hast keine Berechtigung, diese Seite aufzurufen.</p>
                </NotAuthorized>
                <Authorizing>
                    <p>Authentifizierung läuft...</p>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
    </Router>
</CascadingAuthenticationState>